<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0,
            	'list-group-item-light': post.loveIts === 0}">

  <p class="pull-right"><i>{{ post.created_at| date:"d/M/yyyy, HH:mm" }}</i></p>

  <p class="h3"> {{ post.title }} </p>
  <p> {{ post.content }} </p>


  <button (click)="onLoveIt()" class="btn btn-success" style="margin-right: 10px;" type="button">
    <span>LoveIts!</span>
  </button>
  <button (click)="onDontLoveIt()" class="btn btn-danger" type="button">
    <span>Don't loveIts! </span>
  </button>


  <button (click)="onDelete()" class="btn btn-danger pull-right">Supprimer post</button>

</li>
