<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Nouveau post</h2>
    <form (ngSubmit)="onSavePost()" [formGroup]="postForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-control" formControlName="title"
               id="title" type="text"/>
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea class="form-control" formControlName="content"
                  id="content" type="text"></textarea>
      </div>

      <button [disabled]="postForm.invalid " class="btn btn-primary"
              type="submit">
        <span>Soumettre </span>
      </button>

    </form>
  </div>
</div>
